[package]
name = "async-fetcher"
version = "0.3.0-alpha.2"
repository = "https://github.com/pop-os/async-fetcher"
authors = ["Michael Aaron Murphy <mmstickman@gmail.com>"]
description = "Asynchronous file fetcher, with optional fetching based on modified times and checksums"
keywords = ["async", "file", "fetcher", "download", "parallel"]
categories = ["asynchronous", "network-programming", "web-programming::http-client"]
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"

[workspace]
members = [ "fetcher" ]

[dependencies]
async-std = "1"
async-stream = "0.2"
chrono = "0.4"
derive_more = "0.99"
derive_setters = "0.1"
derive-new = "0.5"
digest = "0.8"
filetime = "0.2"
futures = "0.3"
hex = "0.4"
http = "0.1"
http-client =  { version = "1", features = [ "native_client" ] }
log = "0.4"
md-5 = "0.8"
numtoa = "0.2"
remem = "0.1"
serde = { version = "1", features = [ "derive" ] }
sha2 = "0.8"
surf = { git = "https://github.com/http-rs/surf" }
thiserror = "1"
