(
    urls: ["http://apt.pop-os.org/staging/master/dists/bionic/main/binary-amd64/Packages.gz"], dest: "cache/Packages.gz"
)
(
    urls: ["http://apt.pop-os.org/staging/master/dists/bionic/main/source/Sources.gz"], dest: "cache/Sources.gz"
)

(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-1.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-2.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-3.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-4.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-5.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-6.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-7.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-8.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-9.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-10.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-11.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
(
    urls: [
        "http://apt.pop-os.org/staging/master/pool/eoan/nvidia-graphics-drivers/libnvidia-gl-440_440.44-1pop1~1576524804~19.10~fb5b8b3_i386.deb",
    ],
    dest: "cache/nvidia-12.deb",
    sum: Some(Sha256("59b4bc35109c47e3609b3b1b2707db4e9aec8480f1aea7204ace25eda1a7ef71")),
)
