(
    urls: ["http://archive.ubuntu.com/ubuntu/pool/universe/r/rustc/rustc_1.53.0+dfsg1+llvm.orig.tar.xz"],
    dest: "cache/rustc_1.53.0.tar.xz",
    sum: Some(Sha256("1126c387579544bf8b3c239a51ed24f00404ed34373d58658a4fa1b0ae4b90db"))
)
(
    urls: ["http://archive.ubuntu.com/ubuntu/pool/universe/r/rustc/rustc_1.53.0+dfsg1+llvm.orig.tar.xz"],
    dest: "cache/rustc_1.53.0v2.tar.xz",
    sum: Some(Sha256("1126c387579544bf8b3c239a51ed24f00404ed34373d58658a4fa1b0ae4b90db"))
)